<div class="navbar navbar-expand-sm navbar-light navbar-bubble">
  <%= link_to "/", class: "navbar-brand" do %>
    <h1 class="shopn">bubble<strong>heart</strong></h1>
  <% end %>
  <button class="navbar-toggler mobile-hide" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon mobile-hide"></span>
  </button>
  <div class="collapse navbar-collapse mobile-hide" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mobile-hide">
      <% if user_signed_in? %>
        <li class="nav-item mobile-hide">
          <%= link_to "Explore", shops_path, class: "nav-link un mobile-hide" %>
        </li>
        <li class="nav-item dropdown mobile-hide">
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle mobile-hide", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://scontent.fbma2-1.fna.fbcdn.net/v/t1.6435-9/31698866_1611413038977645_5871834160422715392_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_ohc=8fZsTQDQim0AX-2iP-j&tn=UpBPgHWCEfy415-U&_nc_ht=scontent.fbma2-1.fna&oh=66e0828f87ca2185f4b43c0ce8900f63&oe=60DD98A5", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right mobile-hide" aria-labelledby="navbarDropdown">
            <%= link_to "Add a shop", new_shop_path, class: "dropdown-item mobile-hide" %>
            <%= link_to "My Hearts", bookmarks_path(@bookmarks), class: "dropdown-item mobile-hide" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item mobile-hide" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item mobile-hide">
          <%= link_to "Login", new_user_session_path, class: "nav-link mobile-hide" %>
        </li>
      <% end %>
      <div class="avatar mobile-hide">
        <%= link_to new_user_session_path do %>
          <%= far_icon "heart" %>
        <% end %>
      </div>
    </ul>
  </div>
</div>
