<div class="navbar navbar-mobile desktop-hide">
  <div class="avatar">
    <%= link_to new_user_session_path do %>
      <%= far_icon "heart" %>
    <% end %>
  </div>
  <div class="avatar">
    <div id="store">
    <%= link_to new_user_session_path do %>
      <%= far_icon "store" %>
    <% end %>
    </div>
  </div>
  <div class="avatar">
    <%= link_to new_user_session_path do %>
      <%= far_icon "plus" %>
    <% end %>
  </div>
</div>
